<body>
    <h1 id="Hello"></h1>
    <br />
    <h4 id="Number"></h4>
    <br />
    <br />
    <p id="Band"></p>
</body>

<script type="text/javascript">
    var message = "Hello, world! ";
    document.getElementById("Hello").innerHTML = message;
    var otherMessage = "My favorite number is: ";
    var number = 13;
    document.getElementById("Number").innerHTML = otherMessage + number;

    var bands = ["AC/DC", "Guns N' Roses", "Boston", "Avenged Sevenfold"];
    bands.push("'38 Special");
    bands.push("Metallica");
    bands.push("Journey");

    for (i = 0; i < bands.length; i++) {
        item = bands[i];
    }
    document.getElementById("Band").innerHTML = ;

    var sentence = ["Schlitz", "four", "dollar", "toast", "godard", "truffaut", "bespoke", "neutra", "artisan", "pop-up", "Chia", "keytar", "single-origin",
                    "coffee", "sustainable", "disrupt"];

    for (j = 0; j < sentence.length; j++) {
        if (sentence[j].length == 6) {
            words = sentence[j];
        }
    }

</script>